/* @mixin text-color($color){
    background-color: $color;
    color: white;
  }
  
//import 
.name{
    @include text-color(orange);
}
.background{
    @include text-color(white)
} */

$font-main: 'Brown';
$font-scnd: 'Solway';

$accent-main: #EFF5F5;
$accent-1: #D7EFCF;
$accent-2: #768671;
$accent-3: #AAAAAA;
$accent-4: #707070;

$border-radius: 7px;

:root {
    --font-main: 'Brown';
    --font-scnd: 'Solway';

    --accent-main: #EFF5F5;
    --accent-1: #D7EFCF;
    --accent-2: #768671;
    --accent-3: #AAAAAA;
    --accent-4: #707070;

    --border-radius: 7px;
}

* {
    font-family: $font-main;
    color: $accent-4;
}

*, *:hover, *:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

body {
    z-index: 0;
    background-color: white
}

.container.xsm {
    max-width: 600px;
}
.container.md {
    max-width: 800px;
}

.maxw-fit {max-width: fit-content;}

.btn, .btn:focus, .btn:hover {
    --icon-dim: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    position: relative;
    height: fit-content;
    padding: .375rem;
    background-color: $accent-1;
    font-family: $font-main;
    font-weight: bold;
    box-shadow: none !important;
    border: none !important;
    border-radius: 7px;
    color: $accent-2;
    z-index: 1;
    
    svg.feather {
        width: var(--icon-dim);
        height: var(--icon-dim);
        stroke-width: 2;
        stroke: $accent-2;
    }

    &.btn-effect, &.btn-effect:focus, &.btn-effect:hover {
        padding: .375rem .75rem .375rem .47rem;
        background-color: transparent;
    
        // transform: translateX(15%);
        transition: all .3s ease-in-out;
    
        &::after {
            content: ' ';
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            height: 100%;
            width: 70%;
            border-radius: inherit;
            background-color: $accent-1;
            z-index: -1;
            transition: inherit
        }
    
        &:hover {
            &::after {
                width: 100%;
            }
        }
    
        svg.feather {
            margin-right: 8px;
            width: 20px;
            stroke-width: 2.5;
            stroke: $accent-2;
        }
    }
    

    &.btn-close {
        position: absolute;
        top: 0px;
        right: 0px;
        border-radius: 0px 7px 0px 40px;

        svg.feather {
            --icon-dim: 15px;
            transform: translate(2px, -1px);
            transform: translate(3px, -2px);
        }
    }

    &.btn-warning, &.btn-warning:focus, &.btn-warning:hover {
        color: #867171;

        &::after {
            background-color: #efcfcf;
        }

        svg.feather {
            stroke: #867171;
        }
    }
}



.animated {
    transition: all .3s ease-in-out;
}

/* SECTIONS */

[data-label="qrCode"] {
    // border: 20px solid white;
    border-radius: 7px;
    width: 160px;
    height: 160px;
}

[data-section="generated-list"] {
    [data-label="record"] {
        cursor: pointer;
        
        svg {
            width: 30px;
            fill: darken($accent-main, 55%);
        }

        p {
            color: darken($accent-main, 55%);
        }
    }
}
